body{
    text-align:center;
}

h1{
    color:rgb(69, 15, 194);
}
header{
    background-color: rgb(12, 9, 9);
    height: 100px;
    padding:20px
}
ul li{
    display:inline;
    color:rgb(70, 10, 250);
    padding:20px;
}
ul li a{
    color:rgb(10, 218, 250);
    text-decoration:none ;
}
#home img{
    height:20%;
    width:20%;
    border-radius:50%;
}
#portfolio {
    background-color: rgba(0, 238, 255, 0.777);
}
#skills ul li {
color: rgb(191, 69, 69);
}
footer p{
background-color: darkgray;
height:40px;
}